<div class="container">
    <div class="container-sec mt-4">
        <h2 class="text-center mt-2 mb-2 ">Membership Details</h2>
        <hr>
        <li class="list ml-4 my-4">
            <h4>Personal Details</h4>
        </li>
        <ul class="unordered-list ml-2 my-1">
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Name :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.pesonalDetailOfMember.name}}
                    </div>
                </div>
            </li>
            <li><div class="row">
                <div class="col-4">
                    <h6>Addess :</h6>
                </div>
                
                <div class="col-7">
                    {{allMembershipData.pesonalDetailOfMember.address}}
                </div>
            </div> </li>
            <li>
            <div class="row">
                <div class="col-4">
                    <h6>Number :</h6>
                </div>
                
                <div class="col-7">
                    {{allMembershipData.pesonalDetailOfMember.number}}
                </div>
            </div>
            </li>
            <li>
            <div class="row">
                <div class="col-4">
                    <h6>E-mail :</h6>
                </div>
                
                <div class="col-7">
                    {{allMembershipData.pesonalDetailOfMember.email}}
                </div>
            </div>
            </li>
        </ul>
        <hr>
        <li class="list ml-4 my-4">
            <h4>Vehicle Details</h4>
        </li>
        <ul class="unordered-list ml-2 my-1">
            <li>
                <div class="row">
                    <div class="col-4">
                       <h6>Model Name :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.vehicleDetail.modelName}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Registration Certificate (RC) Number :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.vehicleDetail.rcNumber}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Chechis Number :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.vehicleDetail.chechisNumber}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Vehicle Number :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.vehicleDetail.vehicleNumber}}
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <li class="list ml-4 my-4">
            <h4>Membership Details</h4>
        </li>
        <ul class="unordered-list ml-2 my-1">
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Membership ID :</h6>
                    </div>
                    
                    <div class="col-7">
                    {{allMembershipData.membershipDetail.membershipId}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-4">
                        <h6>Membership Started On :</h6>
                    </div>
                    
                    <div class="col-7">
                        {{allMembershipData.membershipDetail.membershipStartDate}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-4">
                       <h6>Membership Ends On :</h6>
                    </div>
                    
                    <div class="col-7">
                    {{allMembershipData.membershipDetail.membershipEndDate}}
                    </div>
                </div>
            </li>
        </ul>
        <hr>

    </div>
</div>