<div class="container">
    <div class="container-outer p-3">

        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card ">
                    <h5 class="card-header">Branch Name/Code</h5>
                    <div class="card-body">
                        <div class="float-right">
                            <button class="btn btn-month text-white py-2 px-4" (click)="updateData(branchData.financial)">
                                Start New Month
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-4">
                               <h6>Branch Name:</h6>
                            </div>
                            <div class="col-8">
                                {{branchData?.branch_name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                               <h6>Branch Code:</h6>
                            </div>
                            <div class="col-8">
                               {{branchData?.branch_code}}
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <h5 class="card-header">Total Expences Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Expence On Employees:</h6>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.employee_expence | number}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Expence On Goods:</h6>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.goods_other_expence |number}}
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <h5> Net Expence:</h5>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.goods_other_expence + branchData?.worth?.employee_expence |number}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <h5 class="card-header">Total Income Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Income From Auto Part Service:</h6>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.billing |number}}
                            </div>
                        </div>
                
                    </div>
                </div>
                
                <div class="card mb-3">
                    <h5 class="card-header">Net Income Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Income:</h6>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.billing |number}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6> Net Expence:</h6>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.goods_other_expence + branchData?.worth?.employee_expence |number}}
                            </div>
                        </div>
                
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <h5> Net Income:</h5>
                            </div>
                            <div class="col-6">
                                ₹{{branchData?.worth?.billing - (branchData?.worth?.goods_other_expence + branchData?.worth?.employee_expence) |number}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="visits-overview-chart mt-5 pt-5">
                    <div id="visitsBar" class="visitsBar-chart">
                      <apx-chart
                        [series]="visitsOverviewOptions.chartSeries"
                        [labels]="visitsOverviewOptions.labels"
                        [chart]="visitsOverviewOptions.chart"
                        [colors]="visitsOverviewOptions.colors"
                        [legend]="visitsOverviewOptions.legend"
                        [plotOptions]="visitsOverviewOptions.plotOptions"
                        [xaxis]="visitsOverviewOptions.xaxis"
                        [yaxis]="visitsOverviewOptions.yaxis"
                        [stroke]="visitsOverviewOptions.stroke"
                        [tooltip]="visitsOverviewOptions.tooltip"
                        [dataLabels]="visitsOverviewOptions.dataLabels"
                        [grid]="visitsOverviewOptions.grid"
                      ></apx-chart>
                    </div>
                   </div>
            </div>
        </div>

    </div>
</div>