<div class="container">
    <div class="container-outer p-3">

        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card ">
                    <h5 class="card-header">Branch Name/Code</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                               <h6>Branch Name:</h6>
                            </div>
                            <div class="col-8">
                                XYZ Auto Parts Service Center
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                               <h6>Branch Code:</h6>
                            </div>
                            <div class="col-8">
                                XYZ408096
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Total Expences Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Expence On Employees:</h6>
                            </div>
                            <div class="col-6">
                                ₹408096
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Expence On Goods:</h6>
                            </div>
                            <div class="col-6">
                                ₹408096
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <h5> Net Expence:</h5>
                            </div>
                            <div class="col-6">
                                ₹816192
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <h5 class="card-header">Total Income Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Income From Auto Part Service:</h6>
                            </div>
                            <div class="col-6">
                                ₹1020555
                            </div>
                        </div>
                
                    </div>
                </div>
                
                <div class="card mb-3">
                    <h5 class="card-header">Net Income Of This Month</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6> Total Income:</h6>
                            </div>
                            <div class="col-6">
                                ₹1020555
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6> Net Expence:</h6>
                            </div>
                            <div class="col-6">
                                ₹811692
                            </div>
                        </div>
                
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <h5> Net Income:</h5>
                            </div>
                            <div class="col-6">
                                ₹251620
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>