<div class="container">
    
        <div class="d-flex justify-content-center">
            <div class="search-container w-50 mb-5">
                <div class="text-center mt-4">
                    <p class="h2">Membership Search</p>
                </div>
                <div class="d-flex justify-content-center align-item-center mb-5">
                    <div class="d-flex mt-4">
                        <div class="rounded search-input px-2 py-1">
                            <input class="input mt-1" type="text" placeholder="Enter Number" aria-label="Search">
                        </div>
                        <div class="ml-3" routerLink='/membershipdata'>
                            <button class="btn btn-outline-dark py-2 px-3" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    

</div>