.container-fluid{
    background-color: silver;
    border-style: outset;
    border-width: 7px;
    border-radius: 7px;
    border-color: slategrey;
}
.payment-card-container{
    height:200px;
    overflow-y: scroll;
}