 <div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <h3>Branch Details</h3>
    </div>
    <hr class="bg-dark" >
    <div class="row ml-5 mr-5 mt-5">
        <div class="col-6">
            <div class="row mb-4">
                <div class="col-4">
                    <h5>Branch Code:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                   {{branchData.branch_code}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <h5>Branch Name:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    {{branchData.branch_name}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <h5>Branch Address:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    {{branchData.branch_address}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mb-2">
               <div class="col">
                    <h4>Contact Details :</h4>
               </div>
            </div>
            <hr class="bg-dark">
            <div class="row mb-4">
                <div class="col-4">
                    <h5>Number:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    {{branchData.contact_details.mobile}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <h5>E-mail:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    {{branchData.contact_details.email}}
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-dark">
    <div class="row ml-5 mr-5 mt-5">
        <div class="col-6">
            <div class="row mb-2">
                <div class="col">
                    <h4>Service Center Details :</h4>
                </div>
            </div>
            <hr class="bg-dark">
            <div class="row mb-4">
                <div class="col-5">
                    <h5>Owner Name:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                     {{branchData.service_center_details.owner_name}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-5">
                    <h5> Owner Address:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    {{branchData.service_center_details.owner_address}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-5">
                    <h5> Owner Phone-No:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    {{branchData.service_center_details.mobile}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-5">
                    <h5>Owner E-mail:</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    {{branchData.service_center_details.email}}
                </div>
            </div>
        </div>
    </div>
 </div>